@model James.ViewModels.Account.vMemberCenterVM
@{
    ViewBag.Title = "Edit Member Information";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm("CCenter", "Acc", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.cId)
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#">
                    <div class="row" style="text-align: left; justify-content: center;">
                        <div class="col-lg-6">
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-12">
                                    <img src="@Model.avatar" onerror="this.src='https://icon-library.com/images/no-image-icon/no-image-icon-5.jpg'" id="img">
                                </div>
                                <div class="col-12">
                                    <div action="/action_page.php">
                                        <label for="file" class="site-btn">
                                            Select image:
                                            <input class="hide" id="file" type="file" style="display:none" name="image" multiple accept="image/gif, image/png, image/jpg, image/jpeg" />

                                        </label>
                                    </div>
                                </div>
                                <script>
                                    $("#file").change(function () {
                                        readURL(this);
                                    });
                                    function readURL(input) {
                                        if (input.files && input.files[0]) {
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                $("#img").attr('src', e.target.result);
                                            }
                                            reader.readAsDataURL(input.files[0]);
                                        }
                                    }
                                </script>

                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">

                            <div class="row">

                                <div class="col-12">
                                    <div class="checkout__input">
                                        <p>
                                            First Name
                                            <span>*</span>
                                        </p>
                                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", placeholder = "姓名", @style = "padding-left: 100px;" } })
                                        @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p> Last Name<span>*</span></p>



                                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", placeholder = "暱稱", @style = "padding-left: 100px;" } })
                                        @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "電話", @style = "padding-left: 100px;", } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Phone Number<span>*</span></p>

                                        @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "電話", @style = "padding-left: 100px;", } })
                                        @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p> BirthDay<span>*</span></p>

                                        @Html.EditorFor(model => model.birthday, new
                                    {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control",
                                           placeholder = "Birthday",
                                           max = "2020-12-31",
                                           min = "1900-01-01",
                                           @style = "padding-left: 100px;"
                                       }
                                    })
                                        @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Company<span>*</span></p>
                                        @Html.DropDownListFor(model => model.CPId, Model.companylist, new { @class = "form-control w-100 error" })
                                        @Html.ValidationMessageFor(model => model.CPId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>CompanyBranch<span>*</span></p>
                                        @Html.DropDownListFor(model => model.CPId, Model.companybranchlist, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CPId, "", new { @class = "text-danger" })

                                    </div>
                                </div>




                                <div class="form-group mt-3 col-lg-12" style="justify-content: center; margin-top: 3%; text-align: center;">
                                    <button type="submit" class="site-btn" style="margin-bottom: 3%; ">save</button>
                                </div>


                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
}
