@model James.ViewModels.Account.vMemberCenterVM




@{
    ViewBag.Title = "CCenterList";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm("CCenterList", "Acc", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ProductList" }))
{
    @Html.AntiForgeryToken()
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            @Html.DisplayFor(model=>model.point)
            <div class="row" style="justify-content: center;">
                <div class="col-lg-8 col-md-12">
                    <div class="checkout__order">
                        <h6 class="order__title">MemberInfo</h6>
                        <ul class="checkout__total__products info">
                            <li><samp>@Html.DisplayNameFor(model => model.firstName)</samp> <span style="text-align: left;"> @Model.firstName</span></li>
                            <li><samp>@Html.DisplayNameFor(model => model.lastName)</samp> <span> @Model.lastName</span></li>
                            <li><samp>@Html.DisplayNameFor(model => model.email)</samp> <span>@Model.email</span></li>
                            <li><samp>@Html.DisplayNameFor(model => model.phoneNumber)</samp> <span>@Model.phoneNumber</span></li>
                            <li><samp>@Html.DisplayNameFor(model => model.companyName)</samp> <span>@Model.companyName</span></li>
                            <li><samp>@Html.DisplayNameFor(model => model.companyBranch)</samp> <span>@Model.companyBranch</span></li>
                            <li><samp>@Html.DisplayNameFor(model => model.tp)</samp> <span>@Model.tp</span></li>

    
                        </ul>

                    </div>
                    </div>
                </div>
                <div class="col-12" style="text-align: center; margin-top: 5%;">
                    <a type="submit" class="site-btn" style="justify-content: center;" href="@Url.Action("CCenter","Acc")">Edit Member Information</a>
                </div>
            </div>
        </div>

 

</section>
}

