@model James.ViewModels.vCompanyVM
@{
    ViewBag.Title = "CompanyCreate";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@using (Html.BeginForm("CompanyCreate", "Acc", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<input id="pac-input"  class="controls" type="text" placeholder="Search Box">*@

    <div id="map" style="height: 500px; width: 800px;"></div>



    <table class="table">
        <tr>
            <th>
                @Html.LabelFor(model => model.companyName)
            </th>
            <th>
                @Html.LabelFor(model => model.companyBranch)
            </th>
            <th>
                @Html.LabelFor(model => model.companyPhone)
            </th>
            <th>
                @Html.LabelFor(model => model.companyAdd)
            </th>
            <th></th>
        </tr>


        <tr class="coordinates">
            <td>
                @Html.EditorFor(model => model.companyName)
            </td>
            <td class="description">
                @Html.EditorFor(model => model.companyBranch)
            </td>
            <td id="addressLoc" class="address">
                @Html.EditorFor(model => model.companyPhone)
            </td>
            <td id="Address" class="address">
                @Html.EditorFor(model => model.companyAdd)
                @Html.ValidationMessageFor(model => model.companyAdd, "", new { @class = "text-danger" })
            </td>

        </tr>


    </table>
}
@section scripts{

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript">

        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                types: ['(cities)'],
                componentRestrictions: { country: "in" }
            };

            var input = document.getElementById('companyAdd');
            var places = new google.maps.places.Autocomplete(input, options);


        });
    </script>
}
