@model James.ViewModels.vProductVM
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm("ProductDetail", "Product",FormMethod.Post))
{
    @Html.HiddenFor(model => model.pId)
    @Html.HiddenFor(model => model.cId)


    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__img">
                        <div class="product__details__big__img">
                            <img class="big_img" src="@Model.productImg" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <div class="product__label">@Model.productstyle</div>
                        <h4>@Model.productName</h4>
                        <h5>$@Model.productPrice</h5>
                        <p>
                            @Model.productContent
                        </p>
                        <ul>
                        </ul>
                        <div class="product__details__option">
                            <div class="quantity">
                                <div class="pro-qty">
                                    @Html.EditorFor(model => model.ordernum)
                                    <script>




                                    </script>
                                </div>
                            </div>
                            @if (Session[James.Models.Common.CDictionary.SK_LOGINED_USER_ID] != null)
                            {
                                <a href="@Url.Action("ProductDetail", "Product")?pId=@Model.pId " class="primary-btn" id="addcart"> Add to cart</a>
                                <button type="submit">Add to cart </button>

                                if (Session[James.Models.Common.CDictionary.SK_MEMBER_AUTHORITY].ToString() == "3")
                                {
                                    <a href="@Url.Action("EditProduct", "Product")?pId=@Model.pId" class="primary-btn"> Edit</a>
                                    <a href="@Url.Action("ProductDelete", "Product")?pId=@Model.pId" class="primary-btn"> Delete</a>
                                }


                            }
                            else
                            {
                                <a href="@Url.Action("login","Acc")" class="primary-btn">Log In</a>
                                <a href="@Url.Action("Register","Acc")" class="primary-btn">Sign Up</a>

                            }
                            <a href="#" class="heart__btn"><span class="icon_heart_alt"></span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}
@section scripts {
    <script>
        $(function () {
            $("#add").click(function () {
                $.ajax({
                    url: "/Home/save",
                    type: "POST",
                    data: $('#save').serialize()
                });
            });
        });
    </script>

}

