@model James.ViewModels.SelectViewModel 
       



 < select id = "@Model.cityId" name = "@Model.province" class= "@Model.Class" style = "@Model.Style" >
< option value = '@Model.DefaultValue' > @Model.DefaultText </ option ></ select >

< script type = "text/javascript" > 
$(function() { 
var actionUrl = '@Model.ActionUrl'; 
var unselected = "<option value='@Model.DefaultValue'>@Model.DefaultText</option>"; 
var tagId, textProperty, valueProperty, parentTagId, paramName, currentSelectedValue, requestMethod; 
tagId = '@Model.cityId'; 
textProperty = '@Model.TextProperty'; 
valueProperty = '@Model.ValueProperty'; 
parentTagId = '@Model.ParentTagId'; 
paramName = '@Model.ParamName'; 
currentSelectedValue = '@Model.SelectedValue'; 
requestMethod = '@Model.RequestMethod.ToString()';
 @{ if (String.IsNullOrEmpty(Model.ParentTagId))
     { < text > $.ajax({ 
 type: requestMethod, 
 url: actionUrl + "?ts=" + new Date().getTime(),
 cache: false, 
 success: function(data){
 $("#" + tagId).empty(); 
 $("#" + tagId).append(unselected); 
 $.each(data, function(i, item) { 
 if ($(item).attr(valueProperty) == currentSelectedValue){ 
 $("#" + tagId).append($("<option selected='selected' value='" + $(item).attr(valueProperty) + "'>" + 
    $(item).attr(textProperty) + "</option>")); 
 }else { 
 $("#" + tagId).append($("<option value='" + $(item).attr(valueProperty) + "'>" +
    $(item).attr(textProperty) + "</option>")); } }); }, 
 complete: function() { 
 if (currentSelectedValue != null) { 
 if ($('#' + tagId).fireEvent) $('#' + tagId).fireEvent("onchange");
 else $('#' + tagId).change(); } } }); </ text >
     } else { 
         < text > $("#" + parentTagId).change(function() { $('#' + tagId).empty();
 $('#' + tagId).append(unselected); 
 if ($('#' + tagId).fireEvent) $('#' + tagId).fireEvent("onchange"); 
 else $('#' + tagId).change(); 
 var parentValue = $(this).val(); 
 if (!parentValue) { return; } 
 $.ajax({ 
 type: requestMethod, 
 url: actionUrl + "?ts=" + new Date().getTime(), 
 data: paramName + "=" + parentValue, cache: false,
 success: function(data){ $.each(data, function(i, item) { 
 if ($(item).attr(valueProperty) == currentSelectedValue){ $("#" + tagId).append(
 $("<option selected='selected' value='" + $(item).attr(valueProperty) + "'>" + $(item).attr(textProperty) + "</option>"));
 }else { $("#" + tagId).append($("<option value='" + $(item).attr(valueProperty) + "'>" + $(item).attr(textProperty) + "</option>")); } }); }, 
 complete: function() { if (currentSelectedValue != null) { if ($('#' + tagId).fireEvent) $('#' + tagId).fireEvent("onchange"); 
 else $('#' + tagId).change(); } } }); }); </ text > } } });</ script >